/* Reset CSS */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Define a fonte padrão e cor de fundo */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Container principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Estilo do título principal */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para cada seção de filmes */
.filmes-section {
    margin-bottom: 40px;
}

/* Estilo para o título da seção de filmes */
.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo para cada filme */
.filme {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

/* Efeito hover para cada filme */
.filme:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para a imagem do filme */
.filme img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilo para o título do filme */
.filme h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Estilo para parágrafos dentro do filme */
.filme p {
    margin: 10px 0;
}
